* {
    font-family: 'Roboto', sans-serif;
    background-clip: border-box;
    margin: 0;
}

header, footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;  
}

header {
    padding: 1rem 12rem 3rem 12rem;
}

a:link, a:visited {
    color: #E5E7EB;
    text-decoration: none;
}

div > h1 {
    font-size: 48px;
    font-weight: 'extra-bold';
    padding-bottom: .3rem;
}

header > h3 {
    font-size: 24px;
}

div > h1, header > h3 {
    color: #F9FAF8;
}

.head {
    display: flex;
    direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8rem;
} 

ul.navbar {
    flex-grow: .1;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.heading-below-nav {
    display: flex;
    margin-bottom: 3.85rem;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.main-heading-text > p {
    padding-bottom: .75rem;
}

.main-heading-img {
    align-self: center;
    justify-self: flex-end;
    margin-left: 6rem;
}

div.main-heading-text > button {
    padding: .5rem 2rem;
    border-radius: .6rem;
    border-color: #3882F6;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    display: block;
}

div.main-heading-text > button {
    border-color: #3882F6;
    font-weight: 900;
    padding: .5rem 2rem;
}

div.main-heading-text > button, #ctab {
    border-radius: .6rem;
    border-color: #3882F6;
    color: #F9FAF8;
    display: block;
}

div.main-heading-text > button, .call-to-action {
    color: #F9FAF8;
}

h2, .quote-text {
    font-size: 36px;
    color: #1F2937;
}

h2 {
    font-weight: 'extra-bold';
    display: flex;
    padding-top: 1.5rem;
}

.maintx  {
    padding: 1.5rem 12rem 2rem 12rem;  
    display: grid;
    align-items: center;
    justify-items: center;
}

.info-sets { 
    display: inline-flex;
    overflow-wrap: break-word;
    justify-content: center;
    padding: 3rem 3.5rem 2.5rem;
}

.photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: .6rem;
    border: .2rem solid #3882F6;
}

.subtext {
    padding: 1rem 3rem 2rem;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: center;
}

.inspiring-quote {
    background-color: #E5E7EB;
    padding: 9rem 20rem;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
}

.quote-attribute {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    font-weight: 900;
    font-size: 20px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    margin: 6rem 12rem;
    padding: 2.5rem 8rem;
    background-color: #3882F6;
    border-radius: .5rem;
    font-size: 20px;
}

#boldcta {
    padding-bottom: .25rem;
}

#ctab {
    border: none;
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    font-size: 15px;
    font-weight: 600;
    padding: .5rem 1.8rem;
    align-self: center;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 2.5rem 12rem;
}
